* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fffcf1;
}

@font-face {
    font-family: dancing;
    src: url(DancingScript-VariableFont_wght.ttf);
}

#h1 {
    font-family: dancing;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: #fffcf1;
}

#d1 {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#d1-1 {
    width: 25%;
    display: flex;
    justify-content: space-between;
}

a {
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
}

#menu-icon {
    display: none;
}

#d2 {
    background-color: #213522;
    width: 50%;
    height: 620px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

form {
    width: 95%;
}

form * {
    color: #fffcf1;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 20px;
    border: none;
    margin-bottom: 15px;
    padding-left: 10px;
    background-color: #213522;
    border-bottom: 1px solid #fffcf1;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder {
    color: #fffcf1;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    border-bottom: 2px solid #fffcf1;
}

input[type="submit"] {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #fffcf1;
    color: #213522;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 25px;
}

label {
    font-size: 20px;
}

#d2 h1 {
    font-size: 50px;
}

#d2 p {
    font-family: sans-serif;
    font-size: 18px;
    align-items: center;
}

form a {
    align-items: center;
    color: aquamarine;
}

#p1 {
    align-items: center;
}

#d9 {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

footer {
    background-color: rgb(52, 104, 47);
    height: 500px;
}

#d9-1 *:not(h1) {
    color: #fffcf1;
    font-size: 20px;
}

#d9-1:first-child {
    color: #fffcf1;
    font-size: larger;
}

#d9-2 * {
    display: flex;
    flex-direction: column;
    color: #fffcf1;
    font-size: 20px;
}

#d9-2 {
    width: 30%;
}

@media screen and (max-width: 768px) {
    #d1-1>*:not(#menu-icon) {
        display: none;
    }

    #d1-1 {
        width: 22px;
    }

    #menu-icon {
        display: block;
        cursor: pointer;
    }

    #d2 {
        width: 95%;
        height: auto;
    }

    footer {
        height: auto;
    }

    #d9 {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    #d9-1,
    #d9-2 {
        width: 95%;
        margin-top: 50px;
    }

    #d9-1 *:not(h1),
    #d9-2 * {
        font-size: 25px;
    }
}